#array-container {
  display: flex;
  margin-top: 20px;
}

.array-bar {
  position: relative;
  background-color: blue;
  margin: 0 2px;
  transition: height 0.2s;
  align-self: flex-end;
  text-align: center;
}

.array-bar span {
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 100%;
}

button {
  margin-top: 10px;
}
