body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #0d1117;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
  background-color: black;
  gap: 5px;
}

.score {
  font-size: 16px;
  margin: 10px;
}

.modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 10px;
  padding: 30px;
  background-color: #0d1117;
  width: 20vw;
  height: 20vh;
}

.grid > div {
  width: 2.5vh;
  height: 2.5vh;
  background-color: rgb(50, 50, 50);
  border: 0.6vh solid rgb(50, 50, 50);
}

.grid > div.I {
  background-color: #00cdcd;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
.grid > div.J {
  background-color: #0000cd;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
.grid > div.L {
  background-color: #cd6600;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
.grid > div.O {
  background-color: #cdcd00;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
.grid > div.S {
  background-color: #00cd00;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
.grid > div.T {
  background-color: #9a00cd;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
.grid > div.Z {
  background-color: #cd0000;
  border-top: 0.6vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid rgba(0, 0, 0, 0.5);
  border-left: 0.6vh solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vh solid rgba(0, 0, 0, 0.2);
}
